<div class="ui-g">
  <div class="ui-g-12 ui-md-4">
    <p-lightbox [images]="productImages"></p-lightbox>
  </div>
  <div class="ui-g-12 ui-md-6">

    <div class="ui-g" style="padding-top:40%">
      <div class="ui-g-12 ui-md-6">
        <b>Product Name</b>
      </div>
      <div class="ui-g-12 ui-md-6">{{product.name}}</div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6">
        <b>Description</b>
      </div>
      <div class="ui-g-12 ui-md-6">{{product.description}}</div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6">
        <b>Price</b>
      </div>
      <div class="ui-g-12 ui-md-6">{{product.price}}</div>
    </div>

    <div class="ui-g">
      <p>
        <button (click)="AddToCart(product)">Add to Cart</button>
      </p>
    </div>
  </div>
</div>